<div class="account-info">
  {% include 'icon' with 'account' %}
  <span class="account-info__name">{{ customer.first_name }} {{ customer.last_name }}</span>
  <span class="account-info__email">{{ customer.email }}</span>
</div>