<div class="okeReviews-pdp-star-rating-summary">
  <div data-oke-reviews-version="2.11.0" class="okeReviews okeReviews--theme">
    <div class="okeReviews-reviewsSummary js-okeReviews-reviewsSummary" data-oke-ga-click-action="Star Rating Summary Click">
      <div class="okeReviews-reviewsSummary-starRating">
        <span class="okeReviews-starRating okeReviews-starRating--small">
          <span class="okeReviews-starRating-indicator" role="presentation">
            <span class="okeReviews-starRating-indicator-layer"></span>
            <span class="okeReviews-starRating-indicator-layer okeReviews-starRating-indicator-layer--foreground" style="width: {{ product.metafields.okendo.summaryData.reviewAverageValue | times: 20 }}%"></span>
          </span>
        </span>
      </div>
    </div>
  </div>
  <div class="okeReviews-summary-customLinks"><a href="https://reviews.okendo.io/stores/c70e00d2-ed66-475f-82a9-7131ff9c72dc/review?productId=shopify-{{ product.id }}#/" target="_blank">Write a review</a> <a href="https://reviews.okendo.io/stores/c70e00d2-ed66-475f-82a9-7131ff9c72dc/question?productId=shopify-{{ product.id }}#/" target="_blank">Ask a question</a></div>
</div>