{%- assign image = section.settings.image -%}
{%- assign title = section.settings.title -%}
{%- assign text = section.settings.text -%}

<div data-section-id="{{ section.id }}">
  <div class="container image-and-text mb-16">
    <div class="flex flex-wrap">
      <div class="w-full lg:w-5/12 lg:pl-20 lg:pr-10 lg:pt-16 text-center lg:text-left">
        <h2>{{ title }}</h2>
        {{ text }}
      </div>
      <div class="w-full lg:w-7/12 lg:pr-20 lg:pl-10 text-center">
        {% if image != blank %}
          <img src="{{ image | img_url: 'master' }}" alt="" class="inline-block">
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Image & Text",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    }
  ]
}
{% endschema %}