{% comment %}
<div class="container">
  <div class="flex">
    <div class="w-full">
      {% include 'breadcrumb' %}
    </div>
  </div>

  <div class="flex flex-wrap lg:-mx-4">
    <div class="w-full pb-4 page-content">
      <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/BV6dg2kAFEwl-EFzFAIfCw" async></script>
      <div class="yotpo-widget-instance" data-yotpo-instance-id="66188"></div>
    </div>
  </div>

</div>
{% endcomment %}
