<div id="shopify-section-collection-template" class="shopify-section" style="margin-top: 20px">
  <div data-section-id="collection-template" data-section-type="collection-template">
    <div class="container" id="Collection">
      <div class="flex flex-wrap xl:flex-no-wrap -mx-4 pt-6">
        <div class="w-full xl:w-3/12 mx-4">
          <h1 class="collection-title">
            <span role="text">Search Results</span>
          </h1>
          <div id="searchspring-sidebar"></div>
        </div>
        <div class="w-full xl:w-9/12 collection-products-block mx-4">
          <div id="searchspring-content"></div>
          <div class="collection-addition-info"></div>
        </div>
      </div>
    </div>
  </div>
</div>